<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="miage.mathurin.papillonproject" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29" />

	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	
	<application android:label="PapillonProject.Android" android:theme="@style/MainTheme">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyAPf6eqeRWdPC-Y9qB7y4F8d9LEQxX7Qq8" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
</manifest>